<!DOCTYPE html>
<html lang="en" ng-app="app" ng-init="person = {name: 'Quantex'}; platforms=[{platform: 'NA'}, {platform: 'EU'}]">
	<head>
    	<meta charset="utf-8">
    	<meta name="author" content="Temuulen Khurelbaatar">
		<meta name="description" content="League of Legends Profile Lookup">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">  
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> 
    	<link rel="stylesheet" type="text/css" href="mystyle.css">

    	<style>
      		body { padding-top: 50px; }    
    	</style>
    	
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    	<script src="example.js"></script>
    
    	<title>League of Legends</title>
        
  	</head>
  	<body>
        <header>
    		<nav class="navbar navbar-inverse navbar-fixed-top">

        	<div class="container">        
          		<div class="navbar-header">
          
           
            		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              			<span class="sr-only">Toggle navigation</span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">League of Legends</a>
          		</div>
		
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav navbar-right">
              	<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                <ul class="dropdown-menu">
                	<li><a href="profile.html">Profile</a></li>
                </ul>
              	</li>
            	</ul>
            </div>
        	</div>
		</nav>    
	</header>
            
 
    <div class="jumbotron">
    	<div class="container">
            

            
            <div ng-controller="controller">
                
                <form>
                <input type="text" class="form-control" id="usernames" ng-model="first" placeholder="Enter username" ng-change="onChange()">
                </br>
        		<button ng-click="updateValue()" type="submit" class="btn btn-primary btn">Search</button>
        	   </form>


                <br><br>
            
                <p>Data: {{data}}</p>

<!--
                {{ calculation }}
                {{ "Change: " + change}}
-->
                
<!--                <p>5 + 5 = {{5 + 5}}</p>-->
                <p>Summoner name to verify: <span style="color: #2980b9; text-decoration: underline" data-ng-bind="first"></span></p>
            
                <p>{{result}}</p>
<!--            
            
                <p>
                    Your second value is
                    <span data-ng-bind="second"></span>
                </p>
-->
                
<!--                <p>{{person.name}}</p>-->
                
<!--
                <ul>
                    <li ng-repeat="p in platforms">
                        {{"platform: " + p.platform}}
                    </li>
                </ul>
-->

        
            </div>
            
    	</div>
    </div>
    
    <div class="container">
    	<p id="p1"></p>
    </div>
    
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
  	</body>
  	
</html>